@charset "UTF-8";

/* .container{
	border: solid 1px #000000;	
} */
	
 	 .goods {
      flex: 0 0 20%;
      box-sizing: border border-primary;
      padding: 10px;
     
   }
       
      
